:root {
    --color: #222222;
    --secondary: white;
  }
  
  #notifications {
    position: fixed;
    bottom: 0;
    right: 0;
    align-content: right;
    align-items: right;
    width: clamp(30%, 500px, 40%);
    margin: 10px clamp(1%, 50px, 5%);
    padding: 10px;
  }
  
  .notification {
    background-color: var(--color);
    color: var(--secondary);
    padding: 15px 10px;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
    margin: 10px 10px;
    transition: all 0.3s ease;
    box-shadow: 0px 9px 40px -16px #000000;
  }
  
  .notification-success {
    --color: var(--success);
    --secondary: white;
  }
  
  .notification-danger {
    --color: var(--danger);
    --secondary: white;
  }
  
  .notification-info {
    --color: var(--info);
    --secondary: white;
  }
  
  .notification-warning {
    --color: var(--warning);
    --secondary: black;
  }
  
  .notification-light {
    --color: var(--light);
    --secondary: black;
  }
  
  .notification:hover {
    margin-left: 15px;
  }
  
  .notification-close a {
    float: right;
    cursor: pointer;
    color: var(--secondary);
    text-decoration: none;
  }
  
  .notification.show {
    display: block;
  }
  
  .notification.hide {
    display: none;
  }
  
  .notification-body {
    padding-right: 15px;
  }
  