.fall-leaf img { 
	width: 100px;
	position: absolute;
	top: 0;
  animation-name: fall;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fall{
    0% {
      top:0px
    }

    25% {
      transform: translateX(var(--wobble1)) rotate(var(--rotate1));
    }

    50% {
      transform: translateX(var(--wobble2)) rotate(var(--rotate2));
    }

    75% {
      transform: translateX(var(--wobble3)) rotate(var(--rotate3));
    }

    100% {
			top: calc(100vh - 50px);
		}
}