.snowflake img { 
	width: 100px;
	position: absolute;
	top: 0;
  animation-name: fall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.layer-0 img {
  width: 50px;
  z-index: var(--z);
}

.layer-1 img {
  width: 75px;
  z-index: calc(var(--z) * 10);
}

.layer-2 img {
  width: var(--size);
  filter: blur(var(--blur));
  z-index: 999999;
}

@keyframes fall{
    0% {
      top:-300px
    }

    25% {
      transform: translateX(var(--wobble1)) rotate(var(--rotate1));
    }

    50% {
      transform: translateX(var(--wobble2)) rotate(var(--rotate2));
    }

    75% {
      transform: translateX(var(--wobble3)) rotate(var(--rotate3));
    }

    100% {
			top: calc(100vh + 600px);
		}
}

#christmas-lights {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  z-index: 1000;
  white-space: nowrap;
}

#christmas-lights img {
  display: inline-block;
}