.fall-leaf img { 
	width: 100px;
	position: absolute;
	top: 0;
  animation-name: fall;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fall{
    0% {
      top:0px
    }

    25% {
      transform: translateX(random(60) - random(60)  + px) rotate(random(60) - 30 + deg);
    }

    50% {
      transform: translateX(random(60) - random(60) + px) rotate(random(60) + deg);
    }

    75% {
      transform: translateX(random(60) - random(60)  + px) rotate(random(60) + deg);
    }

    100% {
			top: calc(100vh - 50px);
		}
}